div
  header
    //ko compose: {view: 'nav'} 
    ///ko
  section#content.main.container-fluid
    //ko compose: {model: router.activeItem, afterCompose: router.afterCompose, transition: 'entrance', cacheViews: true} 
    ///ko
  footer
    //ko compose: {view: 'footer'} 
    ///ko
